* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: blue;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: aquamarine;
    color: beige;
    border-bottom: 4px solid yellowgreen;
}

